<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
  <stringAttribute key="M2_GOALS" value="clean vaadin:update-widgetset vaadin:compile install"/>
  <stringAttribute key="M2_PROFILES" value="build"/>
  <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/Gallifreyan}"/>
</launchConfiguration>
